# Ignore Python virtual environment
.venv/

# Ignore macOS system files
.DS_Store

# ignore other files 
exercise6/Lab_6_python_testscore.ipynb
exercise8/Lab_8_Lab7GUI.ipynb
exercise10/Lab_10_employeeRetention.ipynb